In [1]:
import json
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
file = '/Users/rangedh/UCBSAN201802DATA3-Class-Repository-DATA/Homework/04-Pandas/Instructions/HeroesOfPymoli/purchase_data.json'
with open(file) as train_file:
    d1=json.load(train_file)
df = pd.DataFrame(d1)
df.head(10)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92

In [5]:
df.columns.values

array(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'],
      dtype=object)

In [3]:
print('**Player Count**')
pd.DataFrame([df['SN'].nunique()], columns=['Total Players'])

**Player Count**

   Total Players
0            573

In [4]:
print('**Purchasing Analysis (Total)**')

# * Number of Unique Items
# * Average Purchase Price
# * Total Number of Purchases
# * Total Revenue
#df.reset_index(drop=True)
index=[0]
nuitem=df['Item ID'].nunique()
avgprice=df['Price'].mean()
nofpur=df['Price'].count()
totrev=df['Price'].sum()
pd.DataFrame({'Number of Unique Items':nuitem ,"Average Purchase Price":avgprice ,'Total Number of Purchases':nofpur,'Total Revenue':totrev},columns=['Number of Unique Items',"Average Purchase Price",'Total Number of Purchases','Total Revenue'] ,index=index)

**Purchasing Analysis (Total)**

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,2.931192,780,2286.33

In [125]:
# **Gender Demographics**

# * Percentage and Count of Male Players
# * Percentage and Count of Female Players
# * Percentage and Count of Other / Non-Disclosed
g1 = df.groupby(["SN", "Gender"], as_index=False).count()
m_total=g1['SN'].count()
pd.DataFrame({'Count' :g1.groupby(['Gender']).size(),'Percentage' :g1.groupby(['Gender']).size()/m_total * 100}).reset_index()

                  Gender  Count  Percentage
0                 Female    100   17.452007
1                   Male    465   81.151832
2  Other / Non-Disclosed      8    1.396161

In [21]:
# **Purchasing Analysis (Gender)** 
# * The below each broken by gender
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Normalized Totals
g2 = df.groupby(["Gender"], as_index=False)['Item ID'].count().rename(columns={"Item ID":"Count"})
g3 = df.groupby(["Gender"], as_index=False)['Price'].mean().rename(columns={"Price":"Avg Price"})
g4 = df.groupby(["Gender"], as_index=False)['Price'].sum().rename(columns={"Price":"Total Purchase Value"})
g5 = pd.DataFrame.merge(g2,g3 , on = "Gender")
g5 = pd.DataFrame.merge(g5,g4 , on = "Gender")
g5# index=[0,1,2]
# pd.DataFrame({'Count':g2},index=index)
#pd.DataFrame({'Count' :df.groupby(["Gender"], as_index=False)['Item ID'].count(),'Average' :df.groupby(["Gender"], as_index=False)['Price'].mean()},index=index).reset_index()

                  Gender  Count  Avg Price  Total Purchase Value
0                 Female    136   2.815515                382.91
1                   Male    633   2.950521               1867.68
2  Other / Non-Disclosed     11   3.249091                 35.74

In [ ]:
# **Age Demographics**

# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Normalized Totals